.home {
  max-width: 1000px !important;
}

.home .feature {
  flex-basis: 24% !important;
  max-width: 24% !important;
}

@media (max-width: 719px) {
  .home .feature {
    max-width: 100% !important;
  }
}

#app .search-box > input {
  color: #333;
  background-color: #ebedf0;
  border: none;
}
