.clock {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  --width: 2vmin;
  --len: 8vmin;
  --color: #ddd;
}

.colon {
  position: relative;
  margin: calc(var(--width) + 1vmin);
}

.colon::before,
.colon::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  width: var(--width);
  height: var(--width);
  background: var(--color);
}

.colon::before {
  top: calc(var(--len) / 2);
}

.colon::after {
  bottom: calc(var(--len) / 2);
}
